@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

}

* { 
    margin: 0;
    padding: 0;
  }

#name {
    color: black;
    font-family: 'Shippori Mincho B1', serif;
    font-weight: bold;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -150%);
}

#pronounce {
    color: black;
    font-family: 'Shippori Mincho B1', serif;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -80%); 

}

#definition {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -10%;
    transform: translate(-50%, 50%); 
}

#intro-section {
    height: 100vh;
  }

h2 {
    color: black;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 28px;
}

body {
    color: black;
    font-family: arial;
    font-size: 15px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}
  
nav ul li a {
    color: black;
    text-decoration: none;
}
  
nav ul li a:hover {
    color: blue; 
}

#github-link, #linkedin-link, #email-link {
    color: grey;
    text-decoration: none;
}

@media (hover: hover) {
    #github-link:hover, #linkedin-link:hover, #email-link:hover{
        color: black;
    }
  }

@media only screen and (max-width: 768px) {
   #name {
      font-size: 50px;
  }
  #pronounce {
      font-size: 30px;
  }
  #definition {
    font-size: 15px;    
  }
}