@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Shippori+Mincho+B1&display=swap");

/* Main styling */
html {
    font-size: 110%;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%; /* Fullscreen BG */
    width: 100%;
}

body {
    color: #394c4a;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

p {
    padding-bottom: 1rem;
}

#main-btn {
    border: rgb(255, 175, 151) solid 1px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    padding: 10px 16px 9px;
    border-radius: 5px;
}

#main-btn:focus,
#main-btn:hover {
    background-color: rgb(255, 164, 128);
    color: #fffefd;
}

/* Intro section */
h1 {
    font-family: "Shippori Mincho B1", serif;
}

#name {
    font-size: 4.5rem;
    color: rgb(255, 164, 128);
    font-weight: 500;
    padding-bottom: 0.9rem;
}

#pronounce {
    font-size: 1.8rem;
    font-style: italic;
    color: rgb(255, 164, 128);
    margin-bottom: 1.5rem;
    font-weight: 500;
}

#definition {
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

/* Animate Bottom */
#name,
#pronounce,
#definition,
#main-btn {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 2s;
    animation-name: animatebottom;
    animation-duration: 2s;
}
@-webkit-keyframes animatebottom {
    from {
        bottom: -50px;
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
}
@keyframes animatebottom {
    from {
        bottom: -50px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

/* About Me section */
#about {
    background-color: #fffefd;
    position: relative;
    box-shadow: 0 1px 3px rgba(8, 33, 30, 0.5);
}

.line {
    border-top: 2px solid rgb(255, 192, 173);
}

h2 {
    font-family: "Shippori Mincho B1", serif;
    font-size: 2.3rem;
    padding-bottom: 1rem;
}

h3 {
    color: #9da7a6;
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 1.5;
}

/* Profile Photo */
.profile {
    margin-top: 1rem;
    max-width: 200px;
    padding: 0 10px 0 0px;
}

#about-para {
    padding-left: 0px 50px 0px 0px;
}

#img-caption {
    font-family: "Shippori Mincho B1", serif;
    font-size: 0.75rem;
    font-weight: 800;
    color: #394c4a;
    padding-top: 10px;
}

#spin:after {
    content: "";
    animation: spin 8s linear infinite;
}

@keyframes spin {
    0% {
        content: "problem_solver == true";
    }
    20% {
        content: "motivated == true";
    }
    40% {
        content: "passionate == true";
    }
    60% {
        content: "creative == true";
    }
    80% {
        content: "hard_worker == true";
    }
    100% {
        content: "problem_solver == true";
    }
}

hr {
    border-color: #cdd1cf;
    margin: 30px 0 60px;
}

/* Background */
.background {
    background: linear-gradient(
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.8)
        ),
        url("../images/background.jpg") center center fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
    min-height: 510px;
    position: relative;
    width: 100%;
}
.background .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.background .row {
    padding-bottom: 45px;
}

/*  Containers */
section.row,
footer.row {
    padding: 30px 30px 60px;
}

/* Projects section*/
#projects {
    background: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm28-acrylicpaint-poy-291_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=3bff0249433d3ccd680b848ddb2765dc");
    background-size: 100vw;
    color: #394c4a;
    height: 1320px;
    border-bottom: solid 0.5px rgb(239, 237, 237);
}

.card-text {
    font-size: 0.9rem;
}

.card {
    box-shadow: 0 2px 5px rgba(8, 33, 30, 0.5);
    overflow: hidden;
    height: 30rem;

}

.card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0 2px 8px rgba(8, 33, 30, 0.5);
    top: -4px;
}

.card:before {
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
}

.card:hover:before {
    transform: scale(2.15);
}

